@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@500&family=Poppins&family=Roboto+Condensed&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --negro: #00100B;
    --rojo: #C42021;
    --gris: #7C8483;
    --blanco: #F0F3F5;

    --title: 'Oswald', sans-serif;
    --text: 'Open Sans', sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-weight: bold;
}
body {
    background-color: #F0F3F5;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

main {
    padding-top: 8px;
}



a {
    text-decoration: none;
    color: var(--negro);
}

/* GRID CSS */
.grid-container {
    display: grid;
}

.grid-item {
    text-align: center;
}

.menuHamburger {
    padding: 5px;
    justify-content: space-between;
    grid-template-columns: 80px auto 280px;
    box-shadow: 0px 0px 5px gray;
}

.carousel-grid  {
    grid-column: 1 / span 3;
    grid-row: 3;
}

/* ESTILO DEL LOGO */
.imgLogo {
    width: 110px;
}

/* ESTILO TARJETAS CREDITO */
.creditCard-border {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}
.selected-card {
    border-color: #007bff;
    box-shadow: 0px 0px 5px 2px #007bff;
}

/* BOTONES DEL MENU */
.buttonMenu {
    display: flex;
    padding: 18px;
}

.btnInicioSesion,
.btnRegistrarse {
    align-items: center;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 30px;
    margin: 0 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
}

.btnRegistrarse {
    background-color: red;
    color: white;
}

.btnInicioSesion:hover {
    background: black;
    color: white;
}

.btnRegistrarse:hover {
    background: black;
    color: white;
}

.btnInicioSesion,
.btnRegistrarse:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.btnInicioSesion,
.btnRegistrarse:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.btnInicioSesion,
.btnRegistrarse:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.btnInicioSesion,
.btnRegistrarse:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.btnInicioSesion,
.btnRegistrarse:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.btnInicioSesion,
.btnRegistrarse:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

/* MENU DESPLEGABLE */
#menuToggle {
    display: block;
    position: relative;
    padding: 30px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}

#menuToggle input {
    display: block;
    padding: 30px;
    width: 50px;
    height: 50px;
    left: 23px;
    top: 15px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 45px;
    height: 5px;
    margin-bottom: 8px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: red;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 45px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

#menuToggle input:checked~ul {
    transform: none;
}

/* MENU ACORDEON */
.accordion,
.btnMenu {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    font-family: 'Oswald', sans-serif;
    background-color: #ededed;
    text-align: left;
    outline: none;
    font-size: 25px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.btnMenu:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\00002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;

}

.active:after {
    content: "\00002D";
}

.panel {
    padding: 0 0 0 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* CAROUSEL */
.mySlides {
    display: none
}

.imgCarousel {
    vertical-align: middle;
    width: 100%;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    user-select: none;
}

.next {
    right: -58px;
    border-radius: 0 3px 3px 0;
}

.prev {
    left: -58px;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* CARTAS PROMOCIONES/ETC */
.container-card {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px;
    row-gap: 50px;
    padding: 20px;
    justify-content: center;
}

.card {
    box-sizing: border-box;
    width: 260px;
    height: 300px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: grid;
    align-items: center;
    user-select: none;
    font-weight: bolder;
    color: black;
}

.card:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.img-card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(calc(1 + (var(--hover, 0) * 0.25))) rotate(calc(var(--hover, 0) * -5deg));
    transition: transform 0.2s;
    border-radius: 17px;
}


/* MOBILE RESPONSIVE */
@media (max-width: 426px) {
    .menuHamburger {
        display: flex;
    }

    .menuGrid {
        margin: 0 10px;

    }

    .buttonMenu {
        display: inline-block;
        padding: 0;

    }

    .btnInicioSesion,
    .btnRegistrarse {
        display: flex;
        margin: 2px;
        padding: 0;
        width: 100px;
        text-decoration: none;
    }

    .imgLogo {
        padding-top: 10px;
        width: 100px;
    }

    .next,
    .prev {
        position: absolute;
        top: 55%;
        width: auto;
        padding: 10px;
        margin-top: -22px;
        color: black;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        user-select: none;
    }

    .next {
        right: 0px;
        border-radius: 3px 0 0 3px;
    }

    .prev {
        left: 0px;
        border-radius: 0 3px 3px 0;
    }

    .container-card {
        display: inline-block;
        margin: 0 52px;
    }

    .card {
        margin: 15px;
        width: 250px;
        height: 280px;
        text-align: center;
        justify-content: center;
        transition: all 0.5s;
        align-items: center;
        user-select: none;
    }

}


/* TABLET RESPONSIVE */
@media (max-width: 769px) {

    .next,
    .prev {
        position: absolute;
        top: 55%;
        width: auto;
        padding: 10px;
        margin-top: -22px;
        color: black;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        user-select: none;
    }

    .next {
        right: 0px;
        border-radius: 3px 0 0 3px;
    }

    .prev {
        left: 0px;
        border-radius: 0 3px 3px 0;
    }

    .container-card {
        grid-template-columns: auto auto;
        column-gap: 0px;
        row-gap: 0px;
        padding: 20px;
    }

    .card {
        margin: 15px;
        width: 250px;
        height: 280px;
        text-align: center;
        justify-content: center;
        transition: all 0.5s;
        align-items: center;
        user-select: none;
    }
}